:root {
    --lightColor: #fff;
    --darkBlueColor: #2E2F42;
    --lightBlueColor: #4D5AE5;
    --coldColor: #F4F4FD;
    --colorHover: #404BBF;


}
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
.dn{
    display: none;
}
.container{
    max-width: 1158px;
    margin: 0 auto;
}
.section{
    padding: 120px 0px;
}
.fb{
    display: flex;
    justify-content: space-between;
}
.fb-wrap{
    flex-wrap: wrap;
    row-gap: 30px;
}
.link-big{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
span{
    color: #2e2f42;
}
.text{
color: #f4f4fd;
}
/* ========== header ========== */
.header{
    padding: 24px 0px;
}
.link {
    color: #2e2f42;
    font-weight: 500;
    /* padding: 0px 20px; */
    padding-left: 40px;
}
.link:hover,
.link:focus,
.contacts .link:hover, .contacts .link:focus {
    color: #404bbf;
}
.contacts{
    font-style: normal;
    
}
.contacts .link{
color: #434455;
}

/* ========== main ========== */
.hero-image {
    background-color: #2E2F42;
    color: #ffffff;
    text-align: center;
}

.main-title {
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 50px;
}

.btn-link {
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    padding: 7px 15px;
}

.btn-link:hover,
.btn-link:focus {
    background-color: #404BBF;
}

.title-m {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
}

.section-a {
    background-color: #F4F4FD;

}

.subtitle {
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
}

.item {
    background-color: #ffffff;
}
.item-contect{
    text-align: center;
    padding: 20px 0px;
}
.item-portfolio{
    border-bottom: 1px solid #434455;
}
.item-portfolio-desk{
    padding: 20px 0px;
}
/* ========== footer ========== */
.footer {
    background-color: #2E2F42;
    color: #ffffff;
    padding: 80px 0px;
}
.pstyle{
    color: #F4F4FD;
    margin-top: 7px;
}